<div class="test-text">
  Here's the test content! React will be below...
</div>

<div class="content" id="main">
  <!-- //PH:** remember you can't have JSX here... all server-side -->
  <script type="text/javascript">    
    React.render( React.createElement(Main), 
                  document.getElementById('main') );
  </script>
</div>
